body {
  background-image: url('Fundo.png');
  background-size: cover;
  background-attachment: fixed;
}

h1 {
  font-family: "Amatic SC", sans-serif;
  font-weight: 1000;
  font-style: normal;
}

/* Logo */
.logo-container {
  position: relative;
  width: 100%; 
  text-align: center; 
  margin-top: 10px; 
}

#logo {
  width: 250px;
  height: auto; 
  max-width: 100%; 
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background: rgba(255, 255, 255, 0.0); 
  border-radius: 10px;
  margin-top: 80px; 
  text-align: center;
}

.films-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.film-card {
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  width: 250px;
  text-align: left; /* Alinhamento à esquerda */
  cursor: pointer;
  background: rgba(255, 255, 255, 0.5);
  color: #000;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.film-card img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 10px; 
}

.film-card h5 {
  margin-bottom: 10px; 
}

.film-card p {
  margin-bottom: 5px; 
}

.film-card:hover {
  background-color: #fff; 
  color: #000; 
  border-color: #ddd; 
}

/* Botões no Card */
.card-icons {
  margin-top: 10px;
}

.card-icons .bi {
  font-size: 1.5rem;
  cursor: pointer;
  color: #007bff;
  transition: color 0.3s ease;
}

.card-icons .bi:hover {
  color: #fff; 
  background-color: #007bff;
  border-radius: 50%; 
  padding: 5px;
}

.search-bar {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem; 
}

.input-group {
  display: flex;
  width: 100%;
  max-width: 500px; 
}

.input-group .form-control {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.input-group .btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

@media (min-width: 768px) {
  .films-list {
      justify-content: space-between;
  }
  
  /* Fileirinha de 3 filmes */
  .film-card {
      width: 30%; 
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
    margin: 0 auto;
    padding: 15px;
    background: rgba(255, 255, 255, 0.0); 
    border-radius: 10px;
    margin-top: 80px; 
    text-align: center;
  }
  
  .film-card {
    width: 30%; 
  }
}
