body {
  background-image: url('https://www.ghibli.jp/images/omohide1.jpg');
  background-size: cover;
  background-attachment: fixed;
}

h1 {
  font-family: "Amatic SC", sans-serif;
  font-weight: 1000;
  font-style: normal;
}

/* Barra de navegação */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(255, 255, 255, 0.0);
  padding: 10px 20px;
  color: white;
}

/* Logo */
.logo img {
  height: 80px;
  min-width: 150px;
}

/* Botão de login */
.login-btn button {
  background-color:  #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 4px;
  /* Melhorar a acessibilidade */
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.login-btn button:focus, 
.details-button:focus, 
.btn:focus {
  outline: 2px solid rgba(255, 255, 255, 0.0);
}

/* Botão de login efeito */
.login-btn button:hover {
  background-color: #0056b3;
}


.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background: rgba(255, 255, 255, 0.0); 
  border-radius: 10px;
  margin-top: 80px; 
  text-align: center;
}

.films-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Cartões */
.film-card {
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  width: 100%;
  max-width: 250px; 
  text-align: left;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.5);
  color: #000;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.film-card img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 10px; 
}

.film-card h5 {
  margin-bottom: 10px; 
}

.film-card p {
  margin-bottom: 5px; 
}

.film-card:hover {
  background-color: #fff; 
  color: #000; 
  border-color: #ddd; 
}

/* Botão Detalhes */
.details-button {
  display: block;
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  text-align: center;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  /* Melhorar a acessibilidade*/
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.details-button:hover {
  background-color: #0056b3;
}

/* Caixinha de pesquisa */
.search-bar {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem; 
}

.input-group {
  display: flex;
  width: 100%;
  max-width: 500px; 
}

.input-group .form-control {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.input-group .btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

/* Media query responsividade!!! */
@media (max-width: 576px) {
  .navbar {
      flex-direction: column;
  }
}
